{% load staticfiles %}
<div class="thumbnail book-thumbnail">
    <a href="{{book.get_absolute_url}}">
        {% if book.cover %}
            <img class="img-responsive book-cover" style="height: 300px;" src="{{book.cover.url}}" alt="Book Cover">
        {% else %}
            <img class="img-responsive book-cover" style="height: 300px;" src="{% static 'books/default_cover.jpg' %}" alt="Book Cover">
        {% endif %}
    </a>
    <div class="caption">
        <h4>
            {{book.title}}
        </h4>
        <em>{{book.get_authors}}</em>
        <p>
            <a href="{{book.get_absolute_url}}">View Book</a>
        </p>
    </div>
</div>