{% extends "core/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {% if book.cover %}
                <img class="img-responsive book-cover" src="{{book.cover.url}}" alt="Book Cover">
            {% else %}
                <img class="img-responsive book-cover" src="{% static 'books/default_cover.jpg' %}" alt="Book Cover">
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2>
                <div class="pull-right">
                    <a href="{% url 'books:book_edit' book.pk %}"><i class="fa fa-pencil-square"></i></a>
                </div>
                {{book.title}}
            </h2>
            <p><small><em>{{book.get_authors}}</em></small></p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, soluta! Voluptatibus magnam laboriosam excepturi eligendi sit cum veritatis atque, praesentium expedita reiciendis vero, enim, velit deserunt nihil consectetur ullam culpa.
        </div>
    </div>
{% endblock content %}